[submodule "backend"]
	path = backend
	url = https://github.com/Lunatico0/ControlCubiertas-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Lunatico0/ControlCubiertas-Frontend.git
