node_modules
.env
/frontend/dist
/desktop/build
/desktop/dist
/dist/
/dist/win-unpacked/
/dist/win-unpacked/Control Cubiertas.exe
*.exe
refactorizacion.txt
Ejes camiones.txt
Gestion cubiertas.txt
tree.txt

build/
*.log

# Electron
*.exe
*.dmg
*.AppImage
*.asar
latest.yml
